#accordion {
	background: #c5e58a;
	width: 190px;
	margin: 0 10px 0 0;
	padding:5px 5px 0 5px;
	color: #c0c0c0;
}

#accordion ul {
	padding: 0;
	margin:0;
}
/*list items*/
#accordion li {
	list-style-type: none;
	padding: 0;
	margin:0;
	line-height:20px;
	font-family:sans-serif;
	color: black;
	font-size: 12px;
	cursor: pointer;
	background: #c5e58a;
	font-weight:normal;
}

/*heading styles*/
#accordion .l1 {
	padding-left: 0px;
	font-weight:bold;
}
#accordion .l2 {
	padding-left: 10px;
}
#accordion .l3 {
	padding-left: 10px;
}

/*links*/
#accordion span {
	color: #0A0A0A;
	text-decoration: none;
	display: block;
	padding-left:10px;
}
#accordion span.double {
	line-height:12px;
}
/*hover effect on links*/
#accordion span.selected {
	border-left: 5px solid green;
	padding-left: 5px;
}
#accordion span:hover {
	border-left: 5px solid brown;
	padding-left: 5px;
}
/*Lets hide the non active LIs by default*/
#accordion ul ul {
	display: none;
}
#accordion .lastItem {
	padding-bottom:5px;
}
#accordion .empty{
	background-color:#ffffff;
	height:20px;
	margin:0 -5px;
	cursor:auto;
}
#accordion .buttonIntroLMEs{
	background-color:#F0DF90;
	padding:10px;
	font-size:20px;
	text-align: center;
	margin: 0px -5px;
}
#accordion .buttonWP{
	background-color:#A5BFDD;
	padding:10px;
	font-size:20px;
	text-align: center;
	margin: 0px -5px;
}
#accordion .buttonGCA{
	background-color:#C19451;
	padding:10px;
	font-size:20px;
	text-align: center;
	margin: 0px -5px;
}
#content{
	margin:0 !important;
	width:960px;
}

.ui-front{
		z-index: 9999999999 !important;
		cursor: pointer;
		font-family:sans-serif; font-size:12px;
	}
	#ui-id-1{
		max-height:300px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#buttonLMEs {
padding: 10px 10px;
line-height: 18px;
background-color: #ededed;
/*background-color:#090909;*/
font-size: 12px;
cursor: pointer;
display: none;
position:relative;
		top:0px;
}

	#b:hover {
		background-color:#dfdfdf;
		vertical-align:middle;
	}
	
	.column-map{ position:absolute; left:210px; width:750px;}
	.column-layers{position:absolute; left:0px; }
	
	.legendOL {
	display:none;
	clear:both;
}
.legendOL span{
	font-family:sans-serif;
}
.legendOL ul{
	padding:0;
	margin:0;
}
.legendOL ul li{
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
	font-size:11px;
	float:left;
	line-height:11px;
	width: 125px;
	font-family:sans-serif;
}
.legendOL ul li span{
	border:solid 1px #c0c0c0;
	margin:0 6px 0 0;
	font-size:12px;
}


#leg-areas ul li{
   width:175px;
}
#leg-population ul li{
   width:120px;
}
#leg-hdi ul li{
   width:110px;
}
#leg-urbanpopulation ul li{
   width:190px;
}
.legendOL p{
	text-align:justify;
}